/* src/Footer.css */

.footer {
    padding: 20px 0;
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }

p {
    font-size: 0.5rem;
    color: #FFFFFF;
  }