.landing-container {
    text-align: center;
    padding: 20px;
  }
  .landing-container h2 {
    font-size: 3rem;
  }
  
  .portal-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .portal-block {
    flex: 1;
    margin: 0 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .portal-block img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .portal-block button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: #ffffff;
  }

  .landingPageText {
    font-size: 1.2rem;
    color: #000000;
  }

  img[src="employee_image.jpg"] {
    width: 40%;
    height: auto;
    margin-bottom: 20px;
  }

  img[src="applicant_image.jpg"] {
    width: 40%;
    height: auto;
    margin-bottom: 20px;
  }