.landing-container {
    text-align: center;
    padding: 20px;
  }
  
  .portal-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .portal-block {
    flex: 1;
    margin: 0 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .portal-block img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .portal-block button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: #ffffff;
  }

  p {
    font-size: 1.5rem;
    color: #000000;
  }